html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu{ 
    font-style: oblique; 
    height:150px;
    width: 450px;
    background-color:#FBEAFF;
    padding: 1%;
    font-size: medium;
    margin-right: 3%;
    margin-left: 3%; 
    margin-top: 0%;
}

.menu {
    font-size: large;
    list-style: none;
}

.heading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 3%;
    background-color: rgb(22, 27, 66); 
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}
body{
    background-color: lightgray;

}
/* This displays my profile as a rounded shape*/
img{ 
    border-radius: 50%;
    border: 5px solid white;
}
.content{
    margin-left: 5%;
    margin-right: 5%;
}
.footer{
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgb(22, 27, 66);
    text-align: center;
  
}
article{
    margin: 7%;
}