.flexbox-container{
    display: flex;
    justify-content: space-between;
}

.flexbox-item{
    width: 50%;
    margin: 1%;
    border: 3px solid;
    background-color: blue;

}

.flexbox-item_1{
  width: 70%;
  background-color: white;
  

}

.menu {
    font-size: large;
    list-style: none;
}

.flexbox-item_2{
    width: 30%;
    background-color: #F3C5FF;
    text-align: center;
    padding: 50px;
    
}

img{ 
    border-radius: 50%;
    border: 5px solid white;
    border-left: 5%;
}

#education, #experience, #skill{
    text-align: center;
}

#skill2, #skill4{
    position: relative;
    left: 10px;
}

#footer{
    margin-top: 100%;
    padding: 3%;
}

.Context{
margin-left: 50px;
}

